* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #6593d3,
    #579bda,
    #46a3df,
    #2faae3,
    #00b2e6
  );

  min-height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana del navegador */
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


section p{
    padding-bottom: 20px;
}

section h2, h3{
    text-align: center;
   padding-bottom: 20px;
   text-decoration: underline;
  
}

footer {
  background-color: gray;
  color: #d9d0d0;
  text-align: center;
  padding: 16px 0px;
  margin-top: auto;
}


/* 
Todo aqui son clases ↓
*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  box-shadow: 0 0 10px hsla(0, 12%, 8%, 0.1);
  border-radius: 5px;
}

.navbar {
  background-color: #3d99e7;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.navbar h2 {
  border-bottom: 2px solid #3a3939;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
  border-radius: 5px;
  padding-bottom: 10px;
}
.nav-menu li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid transparent;
}

.nav-menu li a:hover {
  background-color: #3383dd;
  border-color: #2b6eca;
}
.activa{
    background-color: #2b6eca;
}

.sidebar {
  float: left;
  width: 25%;
  background-color: #6bbbef;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
  border-right: 2px solid #bdbdbd;
  position: fixed;
  height: 100%;
  /* overflow para poder hacer scroll en la barra lateral,
   ya que el texto  */
  overflow: auto;

  /* edición de la barra de scroll */
  scrollbar-color: #343434 white;
 
}
.sidebar h2 {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  font-size: 24px;
}

.sidebar h1 {
  border-bottom: 2px solid;
  padding-bottom: 7px;
  font-size: 30px;
}

.side-menu {
  list-style: none;
}
.side-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.4s;
  font-style: italic;
  text-decoration: underline;
  border-radius: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.side-menu li a:hover {
  background-color: #9bd4f5;
  color: #000000;
  border-color: #969696;
  box-shadow: 3px 3px 10px;

}



.hola {
  /* 
  *Clase hola para mover los objetos a la derecha, 
  *impractico pero sirve  
*/
  float: left;
  width: 25%;

  height: 100vh;
  margin-right: 10px;
}


/* tabla */


 .tabla{
    
    border-collapse: collapse;
  }
  .tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  .tabla th {
    background-color: #56a7e4;
    color: rgb(0, 0, 0);
  }

  
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100vh;
    float: none;
    margin-bottom: 30px;
    border-right: none;
    position: static;
   box-shadow: 4px 4px 10px;
  }

/* 
Acomodamos el contenido en reversa para que el nav se muestre primero  y despues el aside 
*/
header{  
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

  .hola{
    width: 0;
    height: 0;
    /* con display: none quito el bloque para que no sea visible en el celular */
   display: none;
 
  }
.navbar{
  
width: 100%;
  height: 100%;
  margin-bottom: 10px;

  
}

  .navbar .container {
    /*
     pones la barra de navegación en columnas y
     pides que todo se posicione al inicio (a la derecha)
     */
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column;
    gap: 15px;
  }

  .navbar-menu li {
    margin: 0;
  }

  .navbar h2 {
    margin-bottom: 20px;
  }
/* hacer la tabla para la vista en dispositivos moviles */
table{
  width: 100%;
}

table tr{

  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;

}

table td{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

tr:first-child{
display: none;
visibility: hidden;
/* ocultamos las secciones de los nombres para que no sean visibles en celular */
}
    }